@charset "utf-8";
/* CSS Document */

input {-webkit-appearance:none; /*去除input默认样式*/}
input[type="submit"], input[type="reset"],input[type="text"],input[type="button"], button{ -webkit-appearance: none;}
.header{width:100%;height: 80px;background: #19b2d5;}
.hidden_form{display: none}
.header_cont{width:1000px;height:80px;margin: 0 auto 0;}
.min{float: left;width:182px;height: 42px;line-height: 42px;background:url(../images/H5/logo_bg.png) left center no-repeat;margin-left: 172px;padding-left: 58px;font-size: 20px;color: #fff;margin-top: 20px}
.chaxun{width:400px;height: 40px;float: left;margin-top: 20px;margin-left: 20px}
.chaxun input{float: left;width:330px;height: 40px;line-height:40px;background: #fff;padding-left: 10px;border: none;color:#555555;font-family: "Microsoft YaHei" ! important;}
.chaxun span{float: left;width:60px;height: 40px;background: url(../images/H5/sou.png) 0 0 no-repeat;cursor: pointer}
.bg{width: 1000px;margin:40px auto 0;}
.bg table{width: 100%;margin: 0 auto 0;border-collapse: collapse;border-left: 1px #ddd solid}
.bg table th{background: #19b2d5;height: 60px;text-align: center;color: #fff;font-size: 14px;border-right: 1px #dddddd solid;overflow: hidden}
.bg table th .wangluo{width:370px;height: 30px;line-height: 30px;text-align: center}
.bg table th ul{width:370px;height: 30px}
.bg table th ul li{float: left;height: 30px;line-height: 30px;text-align: center;color: #fff;border-right: 1px #ddd solid;background: #47c1dd}
.bg table th ul li.ad{border-right: 0;width: 81px}
.bg table th ul li.bg1{width:88px;}
.bg table th ul li.bg2{width:55px;}
.bg table th ul li.bg3{width:68px;}
.bg table th ul li.bg4{width:74px;}
.bg table .dad{width:370px}
.bg table td{height: 60px;line-height: 60px;border-right: 1px #ddd solid;background: #fff;font-size: 12px;text-align: center}
.bg table .bt_6td{width:370px}
.bg table .bt_1{width:131px;}
.bg table .bt_2{width:105px;}
.bg table .bt_3{width:105px;}
.bg table .bt_4{width:75px;}
.bg table .bt_5{width:77px;}
.bg table .bt_6{width:88px;float: left;height: 60px;line-height: 60px;text-align: center;border-right: 1px #ddd solid;}
.bg table .bt_7{width:55px;float: left;height: 60px;line-height: 60px;text-align: center;border-right: 1px #ddd solid;}
.bg table .bt_8{width:68px;float: left;height: 60px;line-height: 60px;text-align: center;border-right: 1px #ddd solid;}
.bg table .bt_9{width:74px;float: left;height: 60px;line-height: 60px;text-align: center;border-right: 1px #ddd solid;}
.bg table .bt_10{width:81px;float: left;height: 60px;line-height: 60px;text-align: center;}
.bg table .bt_10{width:77px;}
.bg table .bt_12{width:51px;}
.biao{width:998px;border:1px #ddd solid;margin:0 auto 0}
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/
.clearfix:after{
  content: "020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;  
  }

.clearfix {
  zoom: 1; 
  }
.header_i{height: 167px;background: #19b2d5;}
.bt_top{width: 127px;height: 10px;background: url(../images/H5/m.png) 0 0 no-repeat;-webkit-background-size: 127px 10px;background-size: 127px 10px;margin:0 auto 0}
.xieyi{height: 20px;line-height: 20px;font-size: 16px;color: #6ccee4;text-align: center;margin-top: 20px}
.peizhi{height:15px;line-height: 15px;font-size: 14px;color: #6ccee4;text-align: center;margin-top:7px}
.kuasu{height: 50px;background: #61bf06;line-height:50px;text-align: center;color: #fff;font-size: 20px;margin:27px 30px;cursor: pointer;}
.kuasu_hui{height: 50px;background: #cbd2d8;line-height:50px;text-align: center;color: #fff;font-size: 20px;margin:27px 30px;}
.yonghu{width:232px;height: 24px;margin:30px auto 0;}
.active_box{float: left;width: 24px;height: 24px;background: url(../images/H5/right.png) 0 0 no-repeat;-webkit-background-size: 24px 24px;background-size: 24px 24px;} 
.yonghu a{float: left;width: 197px;height: 24px;line-height: 24px;font-size: 14px;color: #3399cc;margin-left: 10px}
.box_check{float: left;width: 24px;height: 24px;background: url(../images/H5/t.png) 0 0 no-repeat;-webkit-background-size: 24px 24px;background-size: 24px 24px;}
.foter{width: 300px;margin:144px auto 0;text-align:center;}
.banben{width:300px;height: 21px;line-height: 21px;font-size: 12px;color: #6ccee4}
.weixin{width:300px;height: 21px;line-height: 21px;font-size: 12px;color: #6ccee4}
.header_min{height: 40px;border-top: 1px #acacac solid;background: #19b2d5;line-height: 40px;text-align: center;font-size: 16px;color: #fff;margin-top: 10px}
.header_back{float: left;width: 32px;height: 32px;background: url(../images/H5/back.png) left center no-repeat;-webkit-background-size: 32px 32px;background-size: 32px 32px;margin:5px auto 0;}
.conter{width:308px;line-height: 21px;font-size: 14px;color:#555;margin:18px auto 0}
.conter .t-item,.conter .t-item2{margin-bottom:16px;}
.conter .t-item p{text-indent:2em;line-height:24px;}
.conter .t-item2{line-height:24px;}
.conter .lists li{list-style:disc;margin-left:20px;}
.error-tip{width:250px;height: 38px;line-height: 38px; background-color: #fff5f5;border: solid 1px #f1c4c0; color: #cc6666;position:absolute;z-index:2000;}  
.foter_tr{margin-top: 35px}
.Route_header{height: 40px;;border-top: 1px #acacac solid;background: #19b2d5;line-height: 40px;margin-top: 10px}
.Rour_ted{padding:0 20px 0 20px;}
.Set_up{height:47px;line-height: 47px;text-align: center;border-bottom: 1px #bfe1e9 solid;font-size: 16px;color:#6ccee4}
.lianwang{width: 100%;}
.Rour_ted .lianwang_hidden{display: none;}
.lianwang .wei_lian{color:#6ccee4}
.idc{min-width:48px;width: auto;max-width: 204px;height: 16px;padding-left: 25px; margin:10px auto 0;line-height: 16px; background: url(../images/H5/ico.png) left center no-repeat;-webkit-background-size: 16px 16px;background-size: 16px 16px;font-size: 12px;color: #bbbbbb;margin-bottom: 10px}
.idcnoico{min-width:48px;width: auto;max-width: 204px;height: 16px;padding-left: 1px; margin:10px auto 0;line-height: 16px; -webkit-background-size: 16px 16px;background-size: 16px 16px;font-size: 12px;color: #bbbbbb;margin-bottom: 10px}
.divselect{width:100%; position:relative; z-index:1000;float:left;}
.label_span{float:left;width: 100%; height: 54px;border:1px #bfe1e9 solid;line-height: 54px;text-align: left; box-sizing:padding-box;padding-left: 9px;font-size: 16px;color: #555555;width:-moz-calc(100% - 10px);
	width:-webkit-calc(100% - 10px);
	width: calc(100% - 10px);background: #fff;cursor: pointer}
.ico_bt{width:16px;height: 10px;float: right;margin: 22px 13px 0 0; background: url(../images/H5/xia.png) left center no-repeat;-webkit-background-size: 16px 10px;background-size: 16px 10px;}
.label_span .ico_bt_top{width:16px;height: 10px;float: right;margin: 22px 13px 0 0; background: url(../images/H5/top.png) left center no-repeat;-webkit-background-size: 16px 10px;background-size: 16px 10px;}
.list{width:100%;border: 1px #bfe1e9 solid;background: #fff;position: absolute;top:54px;z-index: 500;margin-top: -1px;-moz-calc(100% - 1px);
	width:-webkit-calc(100% - 1px);
	width: calc(100% - 1px);display: none}
.list li{width:100%;height: 54px;line-height: 54px;border-bottom: 1px #bfe1e9 solid;}
.list li a{width:100%;display: block;height: 54px;line-height: 54px;font-size: 16px;color:#555555}
.list li a span{float: left; width:13px;height: 9px;background: url(../images/H5/dui.png) left center no-repeat;-webkit-background-size: 13px 9px;background-size: 13px 9px;margin: 23px 11px 0 10px;}
.show_sapn{visibility:hidden}
.list li a .show_min{visibility:visible}
/*.list li a:hover{background: #19b2d5;color:#fff}*/
body{background: #e8f7fb}
.kuandai{width: 100%;position: relative}
.fu{width:178px;height: 38px;line-height: 38px;border:1px #fbdbdb solid;background: #fff5f5;position: absolute;top:70px;left: 0}
.fu span{float: left;width:160px;height: 16px;line-height: 16px;background: url(../images/H5/icod.png) left center no-repeat;-webkit-background-size: 16px 16px;background-size: 16px 16px;font-size:14px;color: #cc6666;margin: 10px 0 0 10px;padding-left: 20px}
.kuandai input{width:100%;height: 54px;border: 1px #bfe1e9 solid;-webkit-appearance:none;border-radius: 0;box-sizing:padding-box;padding-left: 9px;font-size: 16px;color: #555555;width:-moz-calc(100% - 10px);
	width:-webkit-calc(100% - 10px);
	width: calc(100% - 10px);border-top: 0;font-size: 16px;color: #bbbbbb;}

.jingdai{width: 100%;display: none}

.jingdai input{width:100%;height: 54px;border: 1px #bfe1e9 solid;-webkit-appearance:none;border-radius: 0;box-sizing:padding-box;padding-left: 9px;font-size: 16px;color: #555555;width:-moz-calc(100% - 10px);
	width:-webkit-calc(100% - 10px);
	width: calc(100% - 10px);border-top: 0;font-size: 16px;color: #bbbbbb}

.gaoji{float:left;width: 100%; height: 54px;border:1px #bfe1e9 solid;line-height: 54px;text-align: left; box-sizing:padding-box;padding-left: 9px;font-size: 16px;color: #6ccee4;width:-moz-calc(100% - 10px);
	width:-webkit-calc(100% - 10px);
	width: calc(100% - 10px);margin-top: 14px;background: #fff}
.ico_btH{width:60px;height: 30px;float: right;margin: 11px 10px 0 0; background: url(../images/H5/open.png) left center no-repeat;-webkit-background-size: 60px 30px;background-size: 60px 30px;cursor: pointer}
.gaoji .ico_btH_p{width:60px;height: 30px;float: right;margin: 11px 10px 0 0; background: url(../images/H5/close.png) left center no-repeat;-webkit-background-size: 60px 30px;background-size: 60px 30px;cursor: pointer}
.kelong{width: 100%}
.divselect2{width:100%; position:relative; z-index:1000;float:left;}
.label_span_btn{float:left;width: 100%; height: 54px;border:1px #bfe1e9 solid;line-height: 54px;text-align: left; box-sizing:padding-box;padding-left: 9px;font-size: 16px;color: #555555;width:-moz-calc(100% - 10px);
	width:-webkit-calc(100% - 10px);
	width: calc(100% - 10px);border-top: 0;background: #fff;cursor: pointer}
.ico_bt{width:16px;height: 10px;float: right;margin: 22px 13px 0 0; background: url(../images/H5/xia.png) left center no-repeat;-webkit-background-size: 16px 10px;background-size: 16px 10px;}
.label_span_btn .ico_bt_top{width:16px;height: 10px;float: right;margin: 22px 13px 0 0; background: url(../images/H5/top.png) left center no-repeat;-webkit-background-size: 16px 10px;background-size: 16px 10px;}
.list_btn{width:100%;border: 1px #bfe1e9 solid;background: #fff;position: absolute;top:54px;z-index: 500;margin-top: -1px;-moz-calc(100% - 1px);
	width:-webkit-calc(100% - 1px);
	width: calc(100% - 1px);display: none}
.list_btn li{width:100%;height: 54px;line-height: 54px;border-bottom: 1px #bfe1e9 solid;}
.list_btn li a{width:100%;display: block;height: 54px;line-height: 54px;font-size: 16px;color:#555555}
.list_btn li a span{float: left; width:13px;height: 9px;background: url(../images/H5/dui.png) left center no-repeat;-webkit-background-size: 13px 9px;background-size: 13px 9px;margin: 23px 11px 0 10px;}
.show_sapn{visibility:hidden}
.list_btn li a .show_min{visibility:visible}
.list_btn li a:hover{background: #19b2d5;color:#fff}
.closd{font-size: 16px;color: #bbbbbb;padding-right: 8px}
.closd_now{color: #555555}
.dangqian{float:left;width: 100%; height: 54px;border:1px #bfe1e9 solid;line-height: 54px;text-align: left; box-sizing:padding-box;padding-left: 9px;font-size: 16px;color: #555555;width:-moz-calc(100% - 10px);
	width:-webkit-calc(100% - 10px);
	width: calc(100% - 10px);border-top: 0;background: #fff}
.dangqian input{width:45%;height: 50px;border:none;line-height: 52px;}
.dizhi{font-size: 16px;  color: #bbbbbb;padding-right: 8px}
.now_dis{color: #555555;}
.dns{float:left;width: 100%; height: 54px;border:1px #bfe1e9 solid;line-height: 54px;text-align: left; box-sizing:padding-box;padding-left: 9px;font-size: 16px;color: #6ccee4;width:-moz-calc(100% - 10px);
	width:-webkit-calc(100% - 10px);
	width: calc(100% - 10px);border-top: 0;background: #fff}

.ico_bth{width:60px;height: 30px;float: right;margin: 11px 10px 0 0; background: url(../images/H5/close.png) left center no-repeat;-webkit-background-size: 60px 30px;background-size: 60px 30px;cursor: pointer}
.dns .ico_btH{width:60px;height: 30px;float: right;margin: 11px 10px 0 0; background: url(../images/H5/open.png) left center no-repeat;-webkit-background-size: 60px 30px;background-size: 60px 30px;cursor: pointer}
.tian{width:100%;}
.mp{float:left;width: 100%; height: 54px;border:1px #bfe1e9 solid;line-height: 54px;text-align: left; box-sizing:padding-box;padding-left: 9px;font-size: 16px;color: #6ccee4;width:-moz-calc(100% - 10px);
	width:-webkit-calc(100% - 10px);
	width: calc(100% - 10px);border-top: 0;background: #fff}
.mp input{width:80%;height: 50px;border:none;-webkit-appearance: none;border-radius: 0;}
.bitian{float: right;padding-right: 8PX;color: #bbbbbb;}
.xiayibu{float: left;width: 100%; height: 50px;line-height: 50px;;background: #19b2d5;text-align: center;color: #ffffff;cursor: pointer;margin-top: 30px;margin-bottom: 25px}
.tiaoguo{width: 100%;height: 20px;line-height: 20px;font-size: 16px;color:#3399cc;text-align: center;cursor: pointer}
.foter_te{margin-top: 33px}
.weilianjie{width: 100%;display: none}
.wei_lian{width: 167px; height: 36px;margin: 0 auto;line-height: 36px;text-align: center;font-size: 12px;color: #ff6666}
.weilianjie .label_span{color: #ddd}
.zhanghao{float: left;height: 54px;line-height: 54px;border:1px #bfe1e9 solid;font-size: 16px;width: 100%;padding-left:9px;box-sizing:padding-box;padding-left: 9px;font-size: 16px;color: #dddddd;width:-moz-calc(100% - 10px);
	width:-webkit-calc(100% - 10px);
	width: calc(100% - 10px);border-top: 0}
.xi_bu{float: left;width: 100%; height: 50px;line-height: 50px;;background: #cbd2d8;text-align: center;color: #ffffff;cursor: pointer;margin-top: 30px;margin-bottom: 25px}
.cheng_ok{width: 320px;height: 133px;background: #fff;padding-top: 67px;display: none}
.bg_p{width:320px;height: 32px;background: url(../images/H5/d.png) 0 0 no-repeat;-webkit-background-size: 32px 32px;background-size: 32px 32px;margin: 0 142px;}
.lian_t{width: 320px;height: 22px;line-height: 22px;font-size: 16px;color: #bbbbbb;text-align: center;margin-top: 20px}
.now_wang{width:320px;height: 165px;background: #fff;padding-top: 32px;display: none}
.loding{width: 32px;height: 32px;background: url(../images/H5/za.gif) 0 0 no-repeat;-webkit-background-size: 32px 32px;background-size: 32px 32px;margin: 0 auto;}
.now_beai{width:320px;height: 19px;line-height: 19px;text-align: center;font-family: 16px;color: #bbbbbb;margin-top: 18px}
.quxiao{width:270px;height: 50px;margin:20px auto 0;line-height: 50px;text-align: center;color: #fff;background: #8cd8ea;cursor: pointer}
.idc_shouji{height: 35px;line-height: 35px;text-align: center;}
.dierbu{padding:0 20px 0 20px;font-size: 12px;color: #6ccee4;position: absolute;top:50px;left:100%;width: 100%;box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;display: none;}
.mid{width:100%;height: 54px;line-height: 54px;border: 1px #bfe1e9 solid;box-sizing:padding-box;padding-left: 9px;font-size: 16px;color: #555555;width:-moz-calc(100% - 10px);
	width:-webkit-calc(100% - 10px);
	width: calc(100% - 10px);border-top: 0;font-size: 16px;color: #bbbbbb}
.cunchu{height:50px;line-height: 50px;background: #19b2d5;text-align: center;font-size: 16px;color: #fff;margin-top: 30px;cursor: pointer}
.bubu{width:51px;height: 20px;line-height: 20px;text-align: center;color: #3399cc;margin:24px auto 0;cursor: pointer}

.now_wan{width:320px;height: 103px;background: #fff;padding-top: 32px;display: none}

.lodind{width: 32px;height: 32px;background: url(../images/H5/za.gif) 0 0 no-repeat;-webkit-background-size: 32px 32px;background-size: 32px 32px;margin: 0 auto;}
.peiwan{padding:0 20px 0 20px;display: none}
.akb{width:32px;height:32px;background: url(../images/H5/dd.png) left center no-repeat;-webkit-background-size: 32px 32px;background-size: 32px 32px;margin:30px auto 14px}

.hongxi{height: 18px;line-height: 18px;font-size: 16px;color: #60be06;text-align: center}
.ban_1{height:16px;line-height: 16px;font-size: 14px;color: #80d4e7;text-align: center;margin-top: 30px}
.ban_2{height:16px;line-height: 16px;font-size: 14px;color: #80d4e7;text-align: center;margin-top:12px}
.ban_3{height:50px;line-height: 50px;background: #19b2d5;text-align: center;font-size: 16px;color: #fff;margin-top: 30px;cursor: pointer}
.guide-scrol{width: 100%;}

.name_zi{width: 85%; height: 54px;border:1px #bfe1e9 solid;line-height: 54px;text-align: left; box-sizing:padding-box;padding-left: 9px;font-size: 16px;color: #555555;width:-moz-calc(100% - 10px);
	width:-webkit-calc(100% - 10px);
	width: calc(85% - 10px);background: #fff;}

.pass_ma{width: 85%; height: 54px;border:1px #bfe1e9 solid;line-height: 54px;text-align: left; box-sizing:padding-box;padding-left: 9px;font-size: 16px;color: #555555;width:-moz-calc(100% - 10px);
	width:-webkit-calc(100% - 10px);
	width: calc(85% - 10px);background: #fff;border-top: 0}











