@charset "utf-8";
body{font-size: 12px}
.s-con{padding:18px 0 10px 0;}
.s-body{overflow:hidden;}
.filter-panel .date li{float: left;margin-left:8px;}
.filter-panel .date a{width:80px;height: 24px;display: block;text-align: center;line-height:24px;color:#666;border:solid 1px #f6f6f6;background-color:#fbfbfb;}
.filter-panel .date a:hover{border:solid 1px #00a7e4;}
.filter-panel .date a:visited{color:#666;}
.filter-panel .date .current:visited{color:#fff;}
.filter-panel .date .current{width:82px;height: 26px;line-height:26px;text-align: center;color: #fff; background:#00a7e4;display: block;cursor:default;border:0 none;}
.filter-panel .date .current:hover{border:0 none;}
.filter-panel .date{float: left;margin-left: 36px;}
.find-target{float:right;color:#666;*width:210px;margin-right:20px;_display:inline;}
.find-target .select{margin-left:8px;position:relative;}
.find-target .arrow-open{top:5px;}
.find-target .sel-val{width:81px;padding:0 40px 0 7px;border:solid 1px #dcdcdc;height:22px;line-height: 22px;display: inline-block;cursor: pointer;position:relative;background-color:#fff;}
.find-target .select .arrow{top:5px;}
.find-target .sel-open .arrow{top:6px;}
.find-target .select .options{width:128px;height:auto;border:solid 1px #dcdcdc;border-top:none;background-color: #fff;z-index: 30;right:0;top:24px;overflow:auto;}
.select .options a{line-height:24px;padding:0 7px;display: block;color:#666;*zoom:1;}
.select .options a:visited{color:#666;}
.select .options a:hover{color:#666;background-color:#00a7e4;color:#fff;}
.income-val{margin-left: 15px;margin-top:32px;}
.income-val  span{vertical-align: middle;}
.income-val .tt{color:#666;}
.income-val .num{font-size:24px;color:#333;}
.per-month{margin-left:28px;*line-height:28px;}
.income-val .state{float: left;margin-left: 8px;color:#999;}
.months-container{float:left;width:93px;position:relative;z-index:1200;}
.other-months{width:93px;height:24px;line-height:24px;margin-left:20px;position:relative;cursor:pointer;color:#666;background-color:#fbfbfb;padding:0 6px;border: solid 1px #f6f6f6;}
.other-months:hover{border: solid 1px #00a7e4;}
.current-months{background-color:#00a7e4;border:solid 1px #00a7e4;color:#fff;}
.other-months input{width:96px;line-height:26px;border:0 none;color:#666;outline:none;font-family:"Microsoft YaHei","微软雅黑";background:#f6f6f6;position: absolute;left:0;top:0;z-index:1200;opacity:0;filter:alpha(opacity=0);cursor: pointer;}
.other-months .arrow{top:6px;right:6px;}
.line-chart{height:448px;}
.no-data{width: 210px;height: 162px;margin:140px auto 140px auto;background: url(../img/income_nothing.png) 0 0 no-repeat;display: none;}
.select-val{height:32px;border:solid 1px #d0d0d0;cursor:pointer;position:relative;}
.select .val{line-height:32px;display:block;padding:0 10px;}
.select{position: relative;}
.select .options{position: absolute;top:34px;left:0;z-index:1200;border:solid 1px #d0d0d0;border-top:0;background:#fff;padding-bottom:2px;display:none;}
.select .arrow,.other-months .arrow{width:12px;height:12px;background:url(../img/select_arrow2.png) 0 0 no-repeat;display: block;position: absolute;top:7px;right:10px;overflow:hidden;}
.sel-open .arrow,.arrow-open{background-position:0 -12px;}
.sel-open .options{display:block;}
.select .options li{cursor:pointer;}
.select .options li:hover{background-color:#00a7e4;color:#fff;}