@charset "utf-8";
/* CSS Document */
.body_bg{background: #19b2d5}
.router-manage{width: 970px;margin:25px auto 10px;height: 200px;position: relative;}
.roter{width:355px;height: 93px;float:left;background: url(../images/left.png) 0 0 no-repeat;margin-top: 108px;position: relative;}
.roter_span{position: absolute;top:8px;left:146px;width:55px;height: 17px;line-height: 17px;text-align: right;color: #f0fafc;font-size: 12px}
.roter_hover{width:355px;height: 93px;float:left;background: url(../images/left_hover.png) 0 0 no-repeat;margin-top: 108px;position: relative;display: none}
.roter_hover .roter_span{position: absolute;top:8px;left:146px;width:55px;height: 17px;line-height: 17px;text-align: right;color: #f0fafc;font-size: 12px}
.roter_hover a{position: absolute;width:72px;height: 21px;top:66px;left: 20px;}
.hover_show{width:120px;height: 64px;position: absolute;top:0;left: 0;cursor: pointer;}
.hover_show_ri{width:73px;height:72px;position: absolute;top:0;right:0;cursor: pointer;}
.roter_middel{width:268px;height: 200px;float:left;background: url(../images/luyou.png) center center no-repeat;position: relative;}
.roter_middel a{position: absolute;width:40px;height: 40px;background: url(../images/changtai.png) 0 0 no-repeat}
.roter_middel a:hover{background: url(../images/xuanfu.png) 0 0 no-repeat}
.off_roter{top:39px;left: 42px;}


/*信号强度四种种模式 绿色 标准 穿墙  wifi关闭 css样式--开始*/
.signal_green{display: block;width: 22px;height: 13px;background: url(../images/bg_02.png) 0 0 no-repeat;margin:12px auto 0}
.signal_standard{display: block;width: 22px;height: 13px;background: url(../images/bg_03.png) 0 0 no-repeat;margin:12px auto 0}
.signal_wall{display: block;width: 22px;height: 13px;background: url(../images/bg_04.png) 0 0 no-repeat;margin:12px auto 0}
.wifi_colse{display: block;width: 22px;height: 13px;background: url(../images/wifi_colse.png) 0 0 no-repeat;margin:12px auto 0}
/*信号强度四种模式 绿色 标准 穿墙  wifi关闭 css样式--结束*/

/*访客三种情况 访客_wifi关闭  访客开启 访客关闭 css样式--开始*/
.visitor_wifi_colse{display: block;width: 24px;height: 28px;background: url(../images/bg_ke.png) 0 0 no-repeat;margin:4px auto 0}
.visitor_Open{display: block;width: 24px;height: 28px;background: url(../images/bg_05.png) 0 0 no-repeat;margin:4px auto 0}
.visitor_Close{display: block;width: 24px;height: 28px;background: url(../images/bg_06.png) 0 0 no-repeat;margin:4px auto 0}
/*访客三种情况 访客_wifi关闭  访客开启 访客关闭 css样式--结束*/

/* 标准模式 夜间模式 样式-began */
.sun{display: block;width: 22px;height: 22px;background: url(../images/sun.png) 0 0 no-repeat;margin:9px auto 0}
.moon{display: block;width: 16px;height: 16px;background: url(../images/moon.png) 0 0 no-repeat;margin:11px auto 0}
/* 标准模式 夜间模式 样式 -end*/

.been_running{width:268px;height: 16px;line-height: 16px;text-align: center;position: absolute;bottom:24px;left: 0;font-size: 12px;color: #007099}


.off_rest{top:4px;left: 110px;}
.off_meter{top:31px;left: 182px;}
.router_right{width:321px;height: 93px;float:left;background: url(../images/right.png) 0 0 no-repeat;margin-top: 108px;position: relative;}
/* .router_min{width:210px;height: 20px;position: absolute;top:9px;left: 39px} */
/* .wangsu_left{width:88px;height: 20px;margin-right: 11px;} */
/* .wangsu_left img,.wangsu_right img{float: left;width:18px;height: 18px;margin-right: 5px} */
/* .wangsu_left span{float: left;text-align: right;height: 20px;font-size: 12px;color: #ffffff;padding-right: 3px} */
/* .wangsu_left b{float:left;font-size: 12px;color: #7bd2e6;font-weight: normal} */
/* .wangsu_right{width:88px;height: 20px;} */
/* .wangsu_right span{float: left;text-align: right;height: 20px;font-size: 12px;color: #ffffff;padding-right: 3px} */
/* .wangsu_right b{float:left;font-size: 12px;color: #7bd2e6;font-weight: normal} */

.router_righthover{width:321px;height: 93px;float:left;background: url(../images/right.png) 0 0 no-repeat;margin-top: 108px;position: relative;}
.router_righthover:hover{background: url(../images/right_hove.png) 0 0 no-repeat;}
.router_righthover:hover .lian_shezhi{width:210px;height: 20px;position: absolute;top:9px;left: 39px;display:block;}
.router_righthover .lian_shezhi{width:58px;height: 18px;position:absolute;bottom: 0;right: 7px;}
.router_righthover .router_min{margin-left: 5px;margin-top: 12px;}
.router_righthover .wangsu_left{width:88px;height: 20px;margin-right:5px;margin-left:35px;float:left;}
.router_righthover .wangsu_left img,.router_righthover .wangsu_right img{float: left;width:18px;height: 18px;margin-right: 5px}
.router_righthover .wangsu_left span{float: left;text-align: right;height: 20px;font-size: 12px;color: #ffffff;padding-right: 3px}
.router_righthover .wangsu_left b{float:left;font-size: 12px;color: #7bd2e6;font-weight: normal}
.router_righthover .speedDisplay{font-size: 12px;color: #8cd9ea;font-weight: normal;float:left;}
.router_righthover .speedDisplay .optimization{color:#fff;cursor:pointer;margin-left:5px;}
.router_righthover .speedDisplay img{vertical-align: middle;margin-bottom: 2px;margin-right:5px;}
.router_righthover .speedDisplay .forIncomeCount{color:#fff;margin-right:2px;}

.router_righthover .wangsu_right{width:88px;height: 20px;margin:15px 0 0 35px;}
.router_righthover .wangsu_right span{float: left;text-align: right;height: 20px;font-size: 12px;color: #ffffff;padding-right: 3px}
.router_righthover .wangsu_right b{float:left;font-size: 12px;color: #7bd2e6;font-weight: normal}

.weilianwang{width:321px;height: 93px;float:left;background: url(../images/weilianjie.png) 0 0 no-repeat;margin-top: 108px;position: relative;display: none}
.ctional_groups{width:245px;height: 245px;background: url(../images/round-.png) 0 0 no-repeat;position: absolute;top:2px;left:368px;display:none}
.close_btn{width:30px;height: 30px;background: url(../images/closed.png) 0 0 no-repeat;position: absolute;top:13px;right: 30px;cursor: pointer}
.close_btn:hover,.visitors_model .close_btn:hover,.Panel_light .close_btn:hover{background: url(../images/hove.png) 0 0 no-repeat}
.ctional_groups h2{font-size: 14px;color:#777777;height: 20px;line-height: 20px;width: 245px;text-align: center;margin-top: 56px;}
.grenn{width:92px;height: 18px;margin:14px auto 0;}
.active_rida{width:16px;height: 16px;float:left;background:url(../images/rb.png) 0 0 no-repeat;margin-left: 8px;cursor: pointer}
.active_rida_cur{background:url(../images/ra.png) 0 0 no-repeat;}
.default{width:62px;height: 18px;margin-left: 6px; float: left;background: url(../images/bg_02.png) 30px 0px no-repeat;font-size: 12px;color: #333333} 
.default2{background: url(../images/bg_03.png) 30px 0px no-repeat;}
.default3{background: url(../images/bg_04.png) 30px 0px no-repeat;}
/*正在重启loading*/
.restart{width:137px;height: 25px;line-height: 25px;margin:5px auto 0;font-size: 12px;color: #ff6666;text-align: center;background: url(../images/loading.gif) 0 center no-repeat;padding-left:10px;;display: none}
.wifiqiangdu{_display: none}
.closing{width: 245px;margin:10px auto 0;display: none}
.closing p{width: 245px;height: 18px;line-height: 18px;text-align: center;font-size: 12px;color: #bbbbbb;margin-top: 3px}
.closing p a{color: #3399cc}
.visitors_model{width:245px;height: 245px;background: url(../images/round-.png) 0 0 no-repeat;position: absolute;top:2px;left:368px;display: none}
.visitors_model .close_btn{width:30px;height: 30px;background: url(../images/closed.png) 0 0 no-repeat;position: absolute;top:13px;right: 30px;cursor: pointer}
.visitors_model h2{font-size: 14px;color:#777777;height: 20px;line-height: 20px;width: 245px;text-align: center;margin-top: 56px;}
.fangke_close{width: 245px;margin:10px auto 0;display: none}
.fangke_close p{width: 245px;height: 18px;line-height: 18px;text-align: center;font-size: 12px;color: #bbbbbb;margin-top: 3px}
.fangke_close p a{color: #3399cc}
.wifi_opens{width:245px;margin: 5px auto 0;}
.model_fangke{width:60px;height: 30px;background: url(../images/kaiqi.png) 0 0 no-repeat;margin: 0 auto 0;cursor: pointer}
.guanbi{background: url(../images/close.png) 0 0 no-repeat}
.wifi_opens p{width: 245px;height: 18px;line-height: 18px;text-align: center;font-size: 12px;color: #bbbbbb;margin-top: 3px}
.Panel_light{width:245px;height: 245px;background: url(../images/round-.png) 0 0 no-repeat;position: absolute;top:2px;left:368px;display: none;z-index: 2000}
.Panel_light .close_btn{width:30px;height: 30px;background: url(../images/closed.png) 0 0 no-repeat;position: absolute;top:13px;right: 30px;cursor: pointer}
.Panel_light h2{font-size: 14px;color:#777777;height: 20px;line-height: 20px;width: 245px;text-align: center;margin-top: 56px;}
.set-btn{width:160px;height: 70px;margin:15px auto 5px;}
.default-mode{width: 80px;height: 70px;float: left;background:#f2f2f2;cursor: pointer;color: #999}
.Panel_light .current{background-color: #1fbf41;color: #fff;}
.Panel_light .set-btn32 .current{background-color: #607b92;color: #fff;}
.icon-sun{width:32px;height: 30px;display: block;background: url(../images/sun_ye.png) 0 0 no-repeat;margin:10px auto 0}
.current .icon-sun{background: url(../images/sun_smal.png) 0 0 no-repeat;}
.Panel_light .night-mode {width: 80px;height: 70px;background-color: #f1f1f1;float: left;color: #333;cursor: pointer;color: #999}
.icon-moon {width: 24px;height: 23px;display: block;background: url(../images/mon_ye.png) 0 0 no-repeat;margin:10px auto 0}
.current .icon-moon{background: url(../images/moon_smail.png) 0 0 no-repeat;}
.Panel_light p {text-align: center;font-size: 12px;margin-top: 5px;}
.night-mode p{margin-top: 13px;}
.quantian{width:245px;height: 18px;line-height:18px;text-align: center;font-size: 12px;color: #c5c5c5;display: none;}
.Putout{width:245px;margin: 0 auto;}
.Putout p{width:245px;margin: 0 auto;text-align: center;font-size: 12px;color: #c5c5c5;line-height: 18px}
.Putout p a{font-size: 12px;color: #3399cc;}
.purse{width:504px;height: 179px;padding-top: 70px; margin: 125px auto 0;background: url(../images/purse.png) 0 0 no-repeat;}
.conter_mi{width:268px;height: 200px;float:left;}
.not_p{display: block;width:32px;height: 32px;background: url(../images/icx.png) 0 0 no-repeat;margin:0px auto 0;}

.purse p{width:504px;height: 18px;line-height: 18px;text-align: center;font-size: 12px;color:#777777;margin-top: 8px}
/**维护中样式：**/
.maintenance{width:504px;height: 179px;padding-top: 70px; margin: 125px auto 0;background: url(../images/purse.png) 0 0 no-repeat;display: none;}
.maintenance .m_icon{display: block;width:32px;height: 32px;background: url(../images/maintenance.png) 0 0 no-repeat;margin:0px auto 0;}
.maintenance .m_text{width:504px;height: 18px;line-height: 18px;text-align: center;font-size: 12px;color:#777777;margin-top: 8px;}


.preloadyougold{width:504px;height: 179px;padding-top: 70px; margin: 125px auto 0;background: url(../images/purse.png) 0 0 no-repeat;display: block}
.preloadyougold p{width:504px;height: 18px;line-height: 18px;text-align: center;font-size: 12px;color:#777777;margin-top: 8px}
.loadingbig{display: block;width:32px;height: 32px;background: url(../images/loading_big.gif) 0 0 no-repeat;margin:0px auto 0;}
/**花呗收益
.coins{width:970px;height: 378px;margin: 0px auto 0;position: relative;overflow:hidden;}
.coins_bg{width: 603px; height: 378px;background: url(../images/jinbi.png) 0 0 no-repeat;margin-top:-3px;margin-left:233px;position: relative;overflow:hidden;}
.youjinbi_top{margin-left:55px;width:400px;}
.lvjing{width:457px;height: 132px;position: absolute;top:111px;left: 187px}
.caiyun{width: 292px;height:121px;background: url(../images/yun.png) 0 0 no-repeat;position: absolute;top:0;left: 0;z-index: 50}
.mohu{width:298px;height: 80px;background: url(../images/mohu.png) 0 0 no-repeat;position: absolute;top:55px;left: 162px;z-index: 5}
.close_bi{width: 10px;height: 10px;background: url(../images/bi2.png) 0 0 no-repeat;position: absolute;top:26px;left: 204px;}
.close_bi:hover{background: url(../images/b3.png) 0 0 no-repeat;}
.m_text1{font-size: 12px;color: #ff4400;margin: 35px 0 0 68px}
.m_text2{font-size: 12px;color: #b8b8b8;margin: 4px 0 0 56px}
.m_text3{font-size: 12px;color: #b8b8b8;margin: 4px 0 0 18px}

.lieji{float: left;width:89px;height: 41px;border-right: 1px #d8d8d8 solid;}
.zuotian{width:89px;height: 23px;line-height: 33px;font-size: 18px;color: #333333;text-align: center}
.zuo_tian{width:89px;height: 18px;line-height: 23px;font-size: 12px;color: #a09f9f;text-align: center}
.today{width:163px;height: 62px;float: left;}
.today strong{display: block;width:163px;text-align: center;font-size: 34px;line-height: 36px; color: #ff4400;font-weight: normal}
.today p{width:163px;height: 18px;line-height: 21px;text-align: center;font-size: 12px;color: #777777}
.youjinbi_top2 .today strong{display: block;width:163px;text-align: center;font-size: 28px;line-height: 36px; color: #ff4400;font-weight: normal}
.youjinbi_top2{margin-left:85px;padding-bottom:15px;}
.youjinbi_top2 .shouyi{font-size: 12px;width:343px;float: left;text-align: center}
.youjinbi_top2 .shouyi b{font-weight: normal;color: #ff4400;font-size: 12px}
.zongji{float: left;width:89px;height: 41px;border-left: 1px #d8d8d8 solid;}
.yijiaru{font-size: 12px;width:343px;float: left;text-align: center;margin-top: 0px;margin-left: 5px;font-size: 12px;color: #777777}
.youjinbi_top2 .shouyi a{font-size: 12px;color: #59a6d0}
.can_jk,can_jk2{width: 162px;height: 40px;}
.youjinbi_top3 .yicanjia{width: 162px;height: 40px;float:left;margin-left: 70px;margin-right: 10px}
.youjinbi_top3 .yicanjia .n1{width: 162px;font-size: 12px;color:#777777;text-align: center}
.youjinbi_top3 .yicanjia .n2{width: 162px;font-size: 18px;color:#ff4400;text-align: center;margin-top: 7px}
.youjinbi_top3 .shouyi{font-size: 12px;width:343px;float: left;text-align: center;margin: 20px 0px 10px 36px;}
.youjinbi_top3 .yiquxiao{font-size: 12px;width:343px;float: left;text-align: center;margin: 20px 0 10px 30px;;font-size: 12px;color: #777777}
.youjinbi_top3 .yicanjia .n3{width: 162px;font-size: 12px;color:#777777;text-align: center}
.youjinbi_top3 .yicanjia .n4{width: 162px;font-size:18px;color:#ff4400;text-align: center;margin-top: 7px}
.youjinbi_top3 .shouyi a{font-size: 12px;color: #59a6d0}.can_jk{width: 150px;height: 40px;}
.zuo_zong{width:89px;height: 23px;line-height:33px;font-size: 18px;color: #333333;text-align: center}
.zuo_ri{width:89px;height: 18px;line-height: 23px;font-size: 12px;color: #a09f9f;text-align: center}
.guanli_jinbi{width:300px;height: 50px;display:block;background:#ff4400;line-height: 50px;text-align: center;color: #fff;font-size: 18px;margin-left:105px;overflow:hidden;}
.guanli_jinbi:hover{background: #fa2e00}
.bangding_zong{width:360px;height: 13px;float: left;margin: 13px 0 0 65px;font-size: 12px;line-height: 13px}
.bangding_zong span{float: left;color: #777777}
.zuo_ye{float: left;height: 13px;padding:0 10px 0 5px;color: #59a6d0;}
.cunru{float: left;padding:0 10px 0 0;color: #59a6d0}
.youjinbi{float:left;padding:0 0 0 10px;color: #59a6d0;border-left: 1px #d8d8d8 solid;}
.tips{width:325px;height: 16px;float: left;margin: 5px 0 0 106px;color: #777777;font-size: 12px;line-height: 16px}
.tips span{float: left;width:300px;}
.tips a{float: left;width:16px;height: 16px;background: url(../images/tip.png) 0 0 no-repeat;}
.text_nei{width:34px;height: 16px;line-height: 16px;text-align: center;font-size: 12px;color: #999;position: absolute;top:182px;right: 27px}
.tan_moshi{width:15px;height: 15px;position:absolute;top:182px;right: 10px}
.yibangding{display: block;width:100%;height:191px;overflow:hidden;position:absolute;left:0;top:175px;}
.weibangding{display:block}

.zhuanqian_Pattern{width:542px;height:350px;background: #fff;position: relative;display: none}
.Close_Button{width:33px;height:33px;position: absolute;top:0px;right: 0px;background: url(../images/de_close.png) 0 0 no-repeat;}
.Close_Button:hover{background: url(../images/hover.png) 0 0 no-repeat;}
.Conservative{width:462px;margin: 0 auto;overflow: hidden}
.Conservative p{width:456px;height: 28px;line-height: 28px;float:left;margin-top: 31px;margin-bottom: 3px}
.Conservative p strong{float: left;margin-right: 10px; font-size: 14px;color: #777777;}
.Conservative p span{float: left;font-size: 12px;color: #777777;}
.user{width:480px;height:18px;line-height: 18px;float: left;margin-top: 20px}
.default_btn{float: left;width:16px;height:16px;background: url(../images/rb.png) center center no-repeat;cursor: pointer;margin-top: 2px;} 
.user .cur_active{float: left;width:16px;height:16px;background: url(../images/ra.png) center center no-repeat;cursor: pointer;margin-top: 2px;}
.user b{font-size: 14px;color: #333333;float: left;margin-left: 6px;margin-right: 10px;font-weight: normal}
.user i{font-style: normal;font-size:12px;color: #777777}
.determine{width:260px;height: 40px;margin:32px auto 0;}
.Confirmation{float:left;width:120px;height:40px;line-height: 40px;text-align: center;font-size: 14px;color: #fff;background: #19b2d5;margin-right: 20px;}
.Cancel_btn{float:left;width:120px;height:40px;line-height: 40px;text-align: center;font-size: 14px;color: #fff;background: #8cd8ea;}
.Confirmation:hover{background: #00a4cd}
.Cancel_btn:hover{background: #66c8e1}

.guding_tan{width:500px;height: 288px;background:#fff;position: relative;z-index: 1000;display: none}
.guding_tan .btn_ced{width:33px;height:33px;position: absolute;top:0px;right: 0px;background: url(../images/de_close.png) 0 0 no-repeat;}
.guding_tan .btn_ced:hover{background: url(../images/hover.png) 0 0 no-repeat;}
.guding_tan h2{padding-top: 38px;font-size:14px;color:#a9a9a9;padding-left: 40px; }
.guding_tan h2 b{font-weight: normal;font-size: 12px;color:#999}
.guding_tan p{width: 410px;padding-left: 40px; font-size: 14px;color:#656565;margin-top: 15px}
.tuichu{width:300px;height: 40px;margin:30px auto;}
.tuichu a{float: left;height: 40px;line-height: 40px;text-align: center}
.mk12{width: 140px;background: #19b2d5;color: #fff;font-size: 14px}
.mk12:hover{background: #00a4cd}
.mk13{width: 140px;margin-left: 20px;background: #8cd8ea;color: #f2fafc;font-size: 14px}
.mk13:hover{background: #66c8e1}
.guding_tan .ww3 span{letter-spacing:6px; margin-right:-4px; }

.tui_chu{width:500px;height: 260px;padding-left: 40px; background:#fff;position: relative;}
.bu_bdtn{width:33px;height:33px;position: absolute;top:0px;right: 0px;background: url(../images/de_close.png) 0 0 no-repeat;}
.bu_bdtn:hover{background: url(../images/hover.png) 0 0 no-repeat;}
.tui_chu h2{padding-top: 38px;font-size:14px;color:#a9a9a9;}
.tui_chu h2 b{font-weight: normal;font-size: 12px;color:#cacaca}
.tui_chu p{width: 450px;font-size: 14px;color:#656565;margin-top: 15px}

.myzhidao{display: block;width:200px;height: 40px;line-height: 40px;text-align: center;color:#fff;background: #19b2d5;float: left;margin: 27px 0 0 128px}


.guding_yi{width:410px;height: 310px;background: #fff;position: relative;z-index: 1000}

.abn{width:33px;height:33px;position: absolute;top:0px;right: 0px;background: url(../images/de_close.png) 0 0 no-repeat;}

.abn:hover{background: url(../images/hover.png) 0 0 no-repeat;}
.guding_yi h2{width: 100%;padding: 36px 0 0 43px;font-size: 14px;color:#777777}
.guding_yi p{padding: 20px 0 0 43px;font-size: 14px;width: 100%;color: #333333}
.guding_yi dl{width: 100%;padding: 23px 0 0 43px;font-size: 14px; }
.guding_yi dl dd{width:336px;height: 22px;padding-left: 10px; line-height: 22px;background:url(../images/titt.png) left center no-repeat;color: #bbbbbb}
.guding_yi dl dt{color:#333333}
.bang_te{width: 260px;height: 40px;margin:26px auto}
.bac_1{float: left;width: 120px;height: 40px;line-height: 40px;text-align: center;background: #19b2d5;color: #fff;margin-right: 20px;}
.bac_2{float: left;width: 120px;height: 40px;line-height: 40px;text-align: center;background: #8cd8ea;color: #ebf8fb;}
.taidi{width:460px;margin:28px auto 0;border-top: 1px #bbbbbb solid;}

.taidi p{width: 100%;text-align: center;color: #777777;font-size: 12px;padding-top: 20px}
.taidi p a{color: #3399cc;}
**/

/**测速和收益弹层样式**/
.standIncome{width: 560px;height: 545px;background: #fff;position: fixed;z-index:4000;left:32%;top:5%;display:none;}
.standIncome .btn_ced{width:33px;height:33px;position: absolute;top:0px;right: 0px;background: url(../images/de_close.png) 0 0 no-repeat;}
.standIncome .btn_ced:hover{background: url(../images/hover.png) 0 0 no-repeat;}
.standIncome .siTitle{font-size:18px;color:#777;text-align: center;margin-top:22px;}
.standIncome .stiContent{width:480px;margin:20px auto 0px auto;}
.standIncome .stiContent .speedLeft{width:240px;float:left;position:relative;}
.standIncome .stiContent .speedLeft .calibration{width: 108px;text-align: right;float:left;font-size:13px;margin-top:2px;}
.standIncome .stiContent .speedLeft .calibration li{height:29px;line-height: 29px;}
.standIncome .stiContent .speedLeft .calibration .scaleUnit{color:#bbb;font-size:12px;margin-left:5px;}
.standIncome .stiContent .speedLeft .dividingDiv{position:relative;float:left;width: 130px;}
.standIncome .stiContent .speedLeft .dividingRule{width:12px;height:310px;margin-left:10px;}
.standIncome .stiContent .speedLeft .dividingCurr{position:absolute;left:35px;font-size;12px;margin-bottom:-5px;}
.standIncome .stiContent .speedLeft .dividingCurr .currSpeed{font-size:24px;color:#ffac0a;margin-right:3px;}
.standIncome .stiContent .speedLeft .dividingCurr .testError{color:#ff6666;}
.standIncome .stiContent .speedLeft .speedRemindText{color:#bbbbbb;width:120px;position:absolute;left:0;bottom:50px;height:36px;line-height:18px;display:none;}

.standIncome .stiContent .incomeRight{width:240px;float:left;position:relative;}
.standIncome .stiContent .incomeRight .rightDividing{width:12px;height:310px;background: url(../images/stai_background.png) 0 0 no-repeat;margin-left: 100px;}
.standIncome .stiContent .incomeRight .currSpeed_right{position:absolute;left:37px;top:1px;color:#bbb;}
.standIncome .stiContent .incomeRight .currSpeed_right #testVal{margin-left:5px;color:#ffac0a;font-size:18px;margin-right:3px;}
.standIncome .stiContent .incomeRight .m_3{left:91px;top:128px;}
.standIncome .stiContent .incomeRight .m_4{left:91px;top:48px;}
.standIncome .stiContent .incomeRight .m_2{left:91px;top:128px;}
.standIncome .stiContent .incomeRight .m_1{left:91px;top:208px;}
.standIncome .stiContent .incomeRight .m_0{left:37px;top:288px;}
.standIncome .stiContent .incomeRight .m_0 .modeImg{margin-left: 6px;}
.standIncome .stiContent .incomeRight .regularNode{display:none;}

.standIncome .stiContent .incomeRight .incomeMode{position:absolute;}
.standIncome .stiContent .incomeRight .incomeMode .modeImg{width:30px;height:30px;float:left;cursor:pointer;background:url(../images/income_background.png) center center no-repeat;}
.standIncome .stiContent .incomeRight .incomeMode .modeImgChecked{background:url(../images/income_but.png) center center no-repeat;}
.standIncome .stiContent .incomeRight .incomeMode .modeImgChecked:hover{background:url(../images/income_but_hover.png) center center no-repeat;}
.standIncome .stiContent .incomeRight .incomeMode .modeDesc{float:left;margin-left:5px;margin-top: -4px;}
.standIncome .stiContent .incomeRight .incomeMode .modeDesc .descTitle{font-size:14px;}
.standIncome .stiContent .incomeRight .incomeMode .modeDesc .descText{font-size:12px;color:#bbb;}
.standIncome .testOperate{width:480px;margin:30px auto 13px auto;text-align: center;border-bottom: 1px solid #dddddd;padding-bottom: 15px;overflow: hidden;}
.standIncome .testOperate .testBut{width:160px;height:40px;line-height:40px;color:#fff;font-size:14px;text-align:center;display:inline-block;background:#ffac0a;cursor:pointer;margin-right:70px;border:1px solid #ff9900;}
.standIncome .testOperate .testBut:hover{background:#ff9900;}
.standIncome .testOperate .testing{background:#fff!important;color:#bbb!important;border:1px solid #19b2d5;box-sizing:border-box;font-size:12px;}
.standIncome .testOperate .testing img{vertical-align:middle;margin-bottom:3px;margin-right:3px;color:#bbb;}
.standIncome .testOperate .testing_save{background:#CBD2D8!important;border:1px solid #CBD2D8!important;}
.standIncome .testOperate .saveBut{width:160px;height:40px;line-height:40px;color:#fff;font-size:14px;text-align:center;display:inline-block;background:#19b2d5;cursor:pointer;border:1px solid #19b2d5;}
.standIncome .testOperate .saveBut:hover{background:#00a4cd;}
.standIncome .testOperate .saveing{background:#fff!important;color:#bbb!important;border:1px solid #19b2d5;box-sizing:border-box;font-size:12px;}
.standIncome .testOperate .saveing img{vertical-align:middle;margin-bottom:3px;margin-right:3px;color:#bbb;}
.standIncome .testOperate .savesucc{background:#fff!important;color:#bbb!important;box-sizing:border-box;font-size:12px;border:1px solid #19b2d5;}
.standIncome .testOperate .savesucc img{vertical-align:middle;margin-bottom:3px;margin-right:3px;color:#bbb;}
.standIncome .testOperate .savefail{background:#fff!important;color:#bbb!important;box-sizing:border-box;font-size:12px;border:1px solid #19b2d5;}
.standIncome .testOperate .savefail img{vertical-align:middle;margin-bottom:3px;margin-right:3px;color:#bbb;}
.standIncome .testOperate .test_remark{margin-left:58px;}
.standIncome .testOperate .save_remark{margin-left:84px;}
.standIncome .testOperate .save_remark a{color:#3399cc;margin-left:5px;cursor:pointer;}
.standIncome .testOperate .save_remark a:hover{color:#19b2d5;}
.standIncome .bottomText{color:#777;text-align:center;}
.standIncome .bottomText a{color:#3399cc;cursor:pointer;}
.standIncome .bottomText a:hover{color:#19b2d5;}
.standIncome .fixedIncomeRemind{text-align:left;position: absolute;left: 315px;bottom: 130px;color:#ff6666;display:none;}


/**花呗浮层样式**/
.commonFloat{width: 560px;height: 270px;background: #fff;position: fixed;z-index:4000;left:32%;top:5%;display:none;}
.commonFloat .acdiv{margin-top:30px;margin-left:35px;}
.commonFloat .acdiv .title{color:#777777;font-size:14px;}
.commonFloat .alipay_remind{margin-top:10px;font-size:14px;width:490px;}
.commonFloat .c_ul{list-style-type: disc;width: 490px;margin-left: 18px;}
.commonFloat .c_text{margin-top:5px;font-size:12px;color:#a7a7a7;list-style-type: disc;}
.commonFloat .butDetail{text-align:center;margin:25px 0px;}
.commonFloat .alipayAOk{display: block;width:200px;height: 40px;line-height: 40px;text-align: center;color:#fff;background: #19b2d5;margin:27px auto;}
.commonFloat .alipayAOk:hover{background:#00a4cd;}
.commonFloat .alipayACancel{display: block;width:200px;height: 40px;line-height: 40px;text-align: center;margin:27px auto;color:#f8fdfe;background: #8cd8ea;}
.commonFloat .alipayACancel:hover{background: #66c8e1;}
.commonFloat .alipayBOk{display:inline-block;width:120px;height: 40px;line-height: 40px;text-align: center;color:#fff;background: #19b2d5;margin-right:70px;}
.commonFloat .alipayBOk:hover{background:#00a4cd;}
.commonFloat .alipayBCancel{display:inline-block;width:120px;height: 40px;line-height: 40px;text-align: center;color:#f8fdfe;background: #8cd8ea;}
.commonFloat .alipayBCancel:hover{background: #66c8e1;}

/**花呗钱袋内容样式
.addedhb_text{font-size: 12px;width:343px;float: left;text-align: center;margin-top: 0px;margin-left: 5px;font-size: 12px;color: #777777;}
.tobindyoukuBut{width:300px;height: 50px;display:block;background:#ff4400;line-height: 50px;text-align: center;color: #fff;font-size: 16px;margin-left:53px;overflow:hidden;}
.fi_hb_status{float:left;margin-left: 35px;}
.fi_hb_status .fh_status{width: 162px;font-size: 12px;color:#777777;text-align: center}
.fi_hb_status .fh_content{width: 162px;font-size: 18px;color:#ff4400;text-align: center;margin-top: 7px}
.fi_hb_repayment{border-left: 1px #d8d8d8 solid;float:left;width:80px;}
.fi_hb_repayment .fh_title{font-size: 12px;color: #777777;text-align: center;}
.fi_hb_repayment .fh_repayment{font-size: 18px;color: #333333;text-align: center;margin-top: 7px;}
.fi_hb_count{border-left: 1px #d8d8d8 solid;float:left;width: 80px;}
.fi_hb_count .fh_title{font-size: 12px;color: #777777;text-align: center;}
.fi_hb_count .fh_money_count{font-size: 18px;color: #333333;text-align: center;margin-top: 7px;}
.fi_hb_exit{text-align:center;color:#777;margin:20px 0 10px 0;}
.fi_hb_exit .fi_hb_e_detail{font-size: 12px;color: #59a6d0;padding:0px 5px;}
.fi_hb_exit .exitplanpageurl_hb{font-size: 12px;color: #59a6d0;padding:0 5px;}**/

/**网络链接超时显示**/
#preloadbandwidth{position:fixed;z-index:5000;width:32px;height:32px;left:0;top:0;display:none;}











