@charset "utf-8";
.popup{
 background-color:#fff;
 position:fixed;
 _position:absolute;
 display:none;
}
.popup .title{height:42px;border-bottom:solid 1px #e9e9e9;}
.popup .name{font-size:14px;color:#666;line-height:42px;float:left;padding-left:18px;}
.pop-close{width:33px;height:33px;background:url(../images/de_close.png) 0 0 no-repeat;display:block;float:right;cursor:pointer;}
.pop-close:hover{width:33px;height:33px;background:url(../images/hover.png) 0 0 no-repeat;display:block;float:right;cursor:pointer;}
.text-tip,.pop-msg{color:#666;margin:30px 0 110px 48px;font-size: 14px;}
.pop-btns{height:28px;position:absolute;bottom:18px;right:28px;z-index:140;}
.pop-btns .normal-btn,.pop-btns .gray-btn2{float:left;margin-left:5px;width:72px;height: 28px;line-height:28px;text-align: center;font-size: 12px;}
.check-net{width:500px;}

.speed-test{width:444px;margin:38px auto 54px auto;}
.odograph{width:444px;height:182px;background:url(../../images/widget/odograph.png) 0 0 no-repeat;}
.speed-test .tip{color:#666;text-align:center;margin-top:18px;font-size:14px;}

.popup .speed-items{width:438px;height:168px;margin:22px auto 20px auto;border:solid 2px #d9d9d9;}
.popup .speed-items .state{height:39px;line-height:38px;text-align:center;font-size:14px;color:#333;border-bottom:solid 1px #d6d6d6;}
.popup .speed-items .item1,.popup .speed-items .item2{float:left;width:218px;height:128px;}
.popup .speed-items .item1{border-right:solid 1px #d6d6d6;}
.test-result .status{font-size:14px;color:#000;}
.test-result .icon-down2,.test-result .icon-upload2{vertical-align:middle;margin-right:8px;}
.speed-items .info{margin:22px 0 0 20px;}
.speed-items .val{margin-top:16px;} 
.speed-items .val .num{font-size:36px;color:#f2220f;margin-left:28px;}
/*.action-btn{margin:0 auto 44px auto;}*/

.popu-info .pop-con{padding-top:46px;color:#333;clear:both;*zoom:1;}
.popu-info .pop-con:after{content: "";display:block;height: 0; clear: both; visibility: hidden;}
.info-pic{width:71px;height:109px;background:url(../../images/widget/info.png) -38px  0  no-repeat;}
.popu-info .con{margin-left:46px;}

.simple-pop{width:498px;height:198px;left:50%;top:50%;margin-left:-249px;margin-top:-99px;}
.pop-form .comn-form{margin-left:34px;}
.pop-form .comn-input{width:220px;}
.pop-form .error-tip{margin:10px 0 0 90px;_margin-left:44px;}
.pop-form .pop-btns{left:114px;bottom:46px;}

.error-msg{width:398px;height:158px;display:block;left:50%;top:50%;margin-left:-200px;margin-top:-80px;}
.error-msg .msg{height:24px;background:url(../../images/widget/warn_big.png) 0 0  no-repeat;display:block;padding-left:35px;margin:46px 0 0 24px;color:#666;}

.manual-update{width:498px;height:118px;left: 50%;top: 50%;display:block;margin-left:-250px;margin-top:-60px;font-size:14px;}
.manual-update .con{height:120px;}
.manual-update .head{padding:10px 20px;}
.manual-update .head .tt{float:left;}
.manual-update .head .remain-time{float:right;color:#999;}
.manual-update .progress-bg{height:2px;background-color:#e9e9e9;}
.manual-update .progress-val{height:2px;background-color:#28a6fd;overflow:hidden;}
.manual-update .notice{text-align:center;margin-top:22px;color:#bc1800;}
.manual-update .complate{margin:40px 0 0 66px;color:#333;}
.manual-update  .redirect{color:#666;}
.manual-update a{color:#00a7e4;}

.manual-restart{width:498px;height:118px;left: 50%;top: 50%;display:block;margin-left:-250px;margin-top:-60px;font-size:14px;}
.manual-restart .waiting{text-align:center;color:#999;margin-top:24px;}
.manual-restart .loading{vertical-align: middle;margin-right:6px;}