@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {margin:0; padding:0;}
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a {text-decoration: none;}
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
body{background: none repeat scroll 0 0 #e8f7fb;}
.nav-con{width:970px;margin:0 auto 0;height: 46px;overflow: hidden}
.nav-lists{height: 46px;color:#666;width:382px;margin:0 auto;;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;}
.nav-lists li{padding:0 5px 0 5px; height: 50px;line-height: 50px; float:left;text-align:center;margin:0px 20px 0 0px;}
.nav-lists li a{height:50px;line-height:50px;text-align: center;display:block;cursor:pointer;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;color: #555555;font-size: 14px;}
.nav-lists .lisd{margin-right: 0}
.nav-lists .current{border-bottom: 2px #19b2d5 solid;height: 43px;line-height: 48px;color:#19b2d5}
.nav-lists .current a{color:#19b2d5}
.nav-lists li a:hover{color:#19b2d5}













































