@charset "utf-8";
/* CSS Document */
.autoUpgrade .au_remind{color:#777;text-align:center;margin-bottom:30px;}
.autoUpgrade .saveAUBut{display:block;width: 200px;height: 40px;line-height:40px;text-align:center;font-size:14px;margin: 0 auto;color: #fff;background: #19b2d5;cursor:pointer;}
.autoUpgrade .saveAUBut:hover{color: #fff;background: #00a4cd;}
.autoUpgrade .switch{font-size: 14px;color: #999;width:60px;margin:50px auto 20px auto;}
.autoUpgrade .switch .switchStyle{width: 60px;height: 30px;background: url(../images/kaiqi.png) 0 0 no-repeat;cursor: pointer;border:none;display:block;}
.autoUpgrade .switch .guanbi{background: url(../images/close.png) 0 0 no-repeat;}
.autoUpgrade .switch .closed{background: url(../images/kaiqi.png) 0 0 no-repeat;}
.autoUpgrade .loadingDiv{text-align:center;color: #bbbbbb;margin-top:60px;display:none;}
.autoUpgrade img{margin:10px 0px;}